.container{
    width: 1200px;
}

td.hai{
     text-align: right;
     padding-right: 15px;
     font-size: 20px;
     color: cornflowerblue;
     width: 600px;
}
td.mot{
    text-align: left;
    padding-left: 15px;
    font-size: 20px;
    color: cornflowerblue;
    width: 600px;
}
th.mot{
    width: 300px;
}
th.hai{
    width: 300px;
    text-align: center;
    background-color: yellow;
}
tr.tablehai{
    height: 30px;
}